<!DOCTYPE html>
<html>
<head>
  <title>gardenXange</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.custom" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.tools.min" %>
  <%= javascript_include_tag 'select_edibles.js' %>
  <%= javascript_include_tag 'jquery-ui/development-bundle/ui/jquery.ui.autocomplete.js' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/top_bar" %>
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- The side menu -->
      <div class="span2">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Food Items</li>
          </ul>
        </div><!-- End sidebar-nav-->
      </div><!-- End side menu -->

      <!-- The main span -->
      <div class="span7">
        <!-- The login modal -->
        <%= render :partial => 'sessions/login' %>                                                                                                                                                
        <!-- The signup modal -->
        <%= render :partial => 'signup/signup_user' %>                                                                                                                                                
        
        <div class="hero-unit">
          <%= yield %>
        </div><!-- End hero unit -->
      </div><!-- End main span -->
    </div>
  </div>
</body>
</html>
